<!DOCTYPE html>
<html>
  {{> head-part}}
<body>
  <div class="container">
    {{> form}}
    <div class="container__weather">
      <h3>{{city}}</h3>
      <h3>Latitude: {{lat}}</h3>
      <h3>Longitude: {{lng}}</h3>
      <h3 class="container__weather--temperature"> {{temperature}} F</h3>
      <h3>Wind: {{wind}} ml/hr</h3>
      <h3 class="container__weather__summary">{{summary}}</h3>
    </div>
  </div>

  <div class="image">
    <img src="{{url}}" alt="{{summary}}">
  </div>
</body>
</html>
