<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Simple Weather App</title>
</head>
<body>
  <div class="container">
    {{> form}}
    <div class="container__weather">
      <h3>{{city}}</h3>
      <h3>Latitude: {{lat}}</h3>
      <h3>Longitude: {{lng}}</h3>
      <h3 class="container__weather--temperature"> {{temperature}} F</h3>
      <h3>Wind: {{wind}} ml/hr</h3>
      <h3 class="container__weather__summary">{{summary}}</h3>
    </div>
  </div>

  <div class="image">
    <img src="{{url}}" alt="{{summary}}">
  </div>
  <script>
  window.onload = function(){
      document.getElementById("form").classList.add("move-up");
  };

  </script>
</body>
</html>
